.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10rem;
}

.header-menu {
    color: white;
    display: flex;
    list-style: none;
    gap: 2rem;
}

.header-menu > li>a {
    color: white;
    text-decoration: none;
}

.header-menu > li>a:hover {
    cursor: pointer;
    color: var(--orange);
}