hr {
    border: 1px solid #d9d9d9;

}
.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
    padding: 1.5rem 2rem;
}

.footer__socials a {
    background: var(--planCard);
    color: white;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: transparent;
    color: white;
    border-color: white;
}

.footer__copyright {
    margin-bottom: 4rem;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}


 /* ========== MEDIA QUERIES (SMALL SCREEN DEVICES) MOBILE PHONES ============ */
 @media screen and (max-width: 600px) {
    .footer__socials {
        margin-bottom: 0.5rem;
    }
  }